@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.center{
    
    font-family: "Inter";
    font-size: 14px;
    width: 548px;
    margin: 0;
    padding-bottom: 80px;
    text-align: center;
}