@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



#title{
    margin-top: 94px;
    color: black;
    font-family: "Inter";
    font-size: 50px;
}